@import url(./common.css);


main{
    margin-top: 25px;
}

/* -------------------------------------------------------------- */

/* banner */
.banner img{
    width: 100%;
    height: 480px;
    object-fit: cover;
}

@media (max-width: 767.98px){
    .banner img {
        height: 360px;
    }
}

/* -------------------------------------------------------------- */

/* about */
.about_wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
}

/* 標題 */
.about_wrapper h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

/* 內容wrapper */
.about_wrapper .content_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width:767.98px){
    .about_wrapper .content_wrapper{
        flex-direction: column;
    }
}

/* 圖片wrapper */
.about_wrapper .content_wrapper .img_wrapper{
    position: relative;
    width: 49.33%;
    height: 373px;
}

/* 圖片 */
.about_wrapper .content_wrapper .img_wrapper img{
    position: absolute;
    width: 100%;
    height: 373px;
    object-fit: cover;
    border-radius: 20px;
    left: 0;
    top: 0;
    opacity: 0;
    animation: about_img 20s linear infinite;
}

@media (max-width:767.98px){
    .about_wrapper .content_wrapper .img_wrapper{
        width: 70%;
        height: 200px;
    }
    .about_wrapper .content_wrapper .img_wrapper img{
        width: 100%;
        height: 200px;
    }
}

.about_wrapper .content_wrapper .img_wrapper img:nth-child(2){
    animation-delay: 5s;
}
.about_wrapper .content_wrapper .img_wrapper img:nth-child(3){
    animation-delay: 10s;
}
.about_wrapper .content_wrapper .img_wrapper img:nth-child(4){
    animation-delay: 15s;
}

/* 圖片輪播動畫 */
@keyframes about_img {
    10%{
        opacity: 1;
    }
    20%{
        opacity: .5;
    }
    30%{
        opacity: 0;
    }
}

/* 文字 */
.about_wrapper .content_wrapper p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width:767.98px){
    .about_wrapper .content_wrapper p{
        display: block;
        /* padding: 0 10px; */
        margin-top: 30px;
    }
}

/* -------------------------------------------------------------- */

/* form */
.contact_wrapper{
    width: 100%;
    background-color: #CBC1A9;
    padding: 50px 0;
}

/* form內容wrapper */
.contact_wrapper .content_wrapper{
    max-width: 590px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 767.98px){
    .contact_wrapper .content_wrapper{
        max-width: 80%;
    }
}

/* title */
.contact_wrapper .content_wrapper h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    font-weight: bold;
}

/* form */
.contact_wrapper .content_wrapper form{
    width: 100%;
    /* border: 1px solid #000; */
}

/* form label */
.contact_wrapper .content_wrapper form .text_ele label{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* type error */
.contact_wrapper .content_wrapper form .type_error span{
    display: block;
    float: right;
    color: #C9211E;
    font-weight: bold;
    /* display: none; */
}

/* input error color */
.contact_wrapper .content_wrapper form .type_error input{
    background-color: rgba(243, 152, 150, 0.5);
}

/* input框 */
.contact_wrapper .content_wrapper form .text_ele input{
    width: 99%;
    border-radius: 5px;
    height: 24px;
    font-size: 20px;
}

/* 中間黑線 */
.contact_wrapper .content_wrapper form .text_ele .black_line{
    width: 100%;
    height: 2px;
    background: #000;
    margin: 32px auto;
}

@media (max-width: 767.98px){
    .contact_wrapper .content_wrapper form .text_ele .black_line{
        margin: 16px auto;
    }
}


/* 多行輸入框 */
.contact_wrapper .content_wrapper form .text_ele textarea{
    width: 99%;
    border-radius: 5px;
    resize: vertical;
    min-height: 10rem;
    font-size: 20px;
}

@media (max-width: 767.98px){
    .contact_wrapper .content_wrapper form .text_ele textarea{
        height: 5rem;
    }
}

/* 按鈕 */
.contact_wrapper .content_wrapper form button{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: #D5B2A0;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
    transition: all .2s linear;
}

.contact_wrapper .content_wrapper form button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
