@import url(./common.css);
main {
    margin-top: 25px;
}

/* -------------------------------------------------------------- */

/* banner */

.banner img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .banner img {
        height: 360px;
    }
}

/* -------------------------------------------------------------- */

/* 鑑定收購 */

.appraisal_wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    position: relative;
}

/* title */

.appraisal_wrapper h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

/* 內容區 */

.appraisal_wrapper .appr_content {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-weight: bold;
}

/* 圖 */

.appraisal_wrapper .appr_content img {
    border-radius: 20px;
    margin-bottom: 100px;
    width: 49%;
    box-shadow: 1px 1px 5px black;
    z-index: 1;
}

@media (min-width: 768px) {
    .appraisal_wrapper .appr_content img {
        position: absolute;
        top: 78px;
    }
}

@media (max-width: 767.98px) {
    .appraisal_wrapper .appr_content img {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 80%;
    }
}

/* 文字BG */

.appraisal_wrapper .text_bg {
    margin: 200px 0 0 auto;
    width: 80%;
    height: 300px;
    background-color: #D5B2A0;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}

@media (max-width: 991.98px) {
    .appraisal_wrapper .text_bg {
        height: auto;
    }
}

@media (max-width: 767.98px) {
    .appraisal_wrapper .text_bg {
        margin: 0 auto;
    }
}

/* 文字 */

.appraisal_wrapper .appr_content span {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding-top: 30px;
    width: 61.5%;
    margin: 0 0 0 auto;
    line-height: 3rem;
    font-size: 18px;
}

@media (max-width: 767.98px) {
    .appraisal_wrapper .appr_content span {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}

/* -------------------------------------------------------------- */

/* 流程 */

.steps_wrapper {
    width: 100%;
    background-color: #D2C885;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 100px;
}

/* 內容區 */

.steps_wrapper .steps_content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

/* 標題 */

.steps_wrapper .steps_content h2 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

/* 流程區 */

.steps_wrapper .steps_content .steps {
    width: 100%;
    display: flex;
}

@media (min-width: 768px) and (max-width: 991.78px) {
    .steps_wrapper .steps_content .steps {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (max-width: 767.78px) {
    .steps_wrapper .steps_content .steps {
        flex-direction: column;
        align-items: center;
    }
}

/* 流程元素 */

.steps_wrapper .steps_content .steps .step_item {
    width: 200px;
}

@media (min-width: 768px) and (max-width: 991.78px) {
    .steps_wrapper .steps_content .steps .step_item {
        text-align: center;
    }
    .steps_wrapper .steps_content .steps .step_item:nth-child(odd) {
        width: calc(50% - 56px);
    }
    .steps_wrapper .steps_content .steps .step_item:nth-child(5) {
        order: 2;
    }
    .steps_wrapper .steps_content .steps i:nth-child(6) {
        order: 1;
    }
    .steps_wrapper .steps_content .steps .step_item:nth-child(7) {
        order: 0;
    }
}

@media (max-width: 767.78px) {
    .steps_wrapper .steps_content .steps .step_item {
        width: 250px;
        text-align: center;
        /* border: 1px solid #000; */
    }
}

/* 流程hover point */

.steps_wrapper .steps_content .steps .step_item:hover {
    cursor: pointer;
}

/* 流程的圖 */

.steps_wrapper .steps_content .steps .step_item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
    margin-bottom: 20px;
    transition: transform .2s;
}

@media (max-width: 991.78px) {
    .steps_wrapper .steps_content .steps .step_item img {
        width: 250px;
        height: 250px;
    }
}

/* 圖hover */

.steps_wrapper .steps_content .steps .step_item:hover img {
    transform: scale(1.1);
}

/* 字 */

.steps_wrapper .steps_content .steps .step_item span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* 箭頭 */

.steps_wrapper .steps_content .steps i {
    font-size: 64px;
    margin: auto calc( (100% - 800px - (56px * 3)) / 3 / 2);
}

@media (min-width: 768px) and (max-width: 991.78px) {
    .steps_wrapper .steps_content .steps .col_arrow {
        transform: rotate(90deg);
        margin: 20px auto 20px 50%;
        width: 100%;
        text-align: center;
    }
    .steps_wrapper .steps_content .steps i:nth-child(6) {
        transform: rotate(180deg);
    }
}

@media (max-width: 767.78px) {
    .steps_wrapper .steps_content .steps i {
        width: 56px;
        height: 64px;
        margin: 0;
        transform: rotate(90deg);
        margin: 10px 0;
    }
}

/* -------------------------------------------------------------- */

/* step 1 */

.step1_wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 20px;
    box-sizing: border-box;
}

/* title */

.step1_wrapper h2 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

/* 內容 */

.step1_wrapper .content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767.98px) {
    .step1_wrapper .content {
        display: flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        padding: 0 20px;
    }
}

/* 左側 */

.step1_wrapper .content .left {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767.98px) {
    .step1_wrapper .content .left {

    }
}

/* 左側文字 */

.step1_wrapper .content .left>span {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15%;
    line-height: 2;
}

@media (max-width: 767.98px) {
    .step1_wrapper .content .left>span {
        margin-top: 30px;
    }
}

/* 按鈕 */

.step1_wrapper .content .left .btn_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

@media (max-width: 767.98px) {
    .step1_wrapper .content .left .btn_wrapper {
        margin-top: 20px;
    }
}

.step1_wrapper .content .left .btn_wrapper a {
    display: inline-block;
    line-height: 50px;
    width: 40%;
    height: 50px;
    text-decoration: none;
    background-color: #D5B2A0;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    color: black;
    font-size: 28px;
    vertical-align: middle;
    transition: all .2s;
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .step1_wrapper .content .left .btn_wrapper a:first-child{
       width: 45%;
    }
}
@media (max-width: 575.98px) {
    .step1_wrapper .content .left .btn_wrapper a:first-child{
       width: 50%;
    }
}

/* 按鈕 */

/* 按鈕hover */

.step1_wrapper .content .left .btn_wrapper a:hover {
    opacity: .7;
}

/* 按鈕字 */

.step1_wrapper .content .left .btn_wrapper a span {
    display: inline-block;
    margin-right: 20px;
}

@media (max-width: 575.98px) {
    .step1_wrapper .content .left .btn_wrapper a span{
        font-size: 18px;
        font-weight: bold;
        vertical-align: top;
    }
}

/* 右圖 */

.step1_wrapper .content img {
    width: 49%;
    /* height: 450px; */
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 5px black;
}

@media (max-width: 767.98px) {
    .step1_wrapper .content img {
        width: 80%;
        margin: 0 auto;
    }
}

/* -------------------------------------------------------------- */

/* step 2 */

.step2_wrapper {
    width: 100%;
    background-color: #C3C0B0;
    margin-bottom: 100px;
    padding-bottom: 60px;
}

/* 內容區 */

.step2_wrapper .step2_content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* 標題 */

.step2_wrapper .step2_content h2 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

/* 內容 */

.step2_wrapper .step2_content .content_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 767.98px) {
    .step2_wrapper .step2_content .content_wrapper{
        flex-direction: column;
        align-items: center;
    }
}

/* 方法元素 */

.step2_wrapper .step2_content .content_wrapper .appr_way {
    width: 508px;
    background-color: #EEECE1;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .step2_wrapper .step2_content .content_wrapper .appr_way{
        width: 80%;
    }
}

@media (max-width: 575.98px) {
    .step2_wrapper .step2_content .content_wrapper .appr_way{
        width: 90%;
    }
}

.step2_wrapper .step2_content .content_wrapper .appr_way:nth-child(1){
    margin-right: 20px;
}

@media (max-width: 767.98px) {
    .step2_wrapper .step2_content .content_wrapper .appr_way:nth-child(1){
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* 圖 */

.step2_wrapper .step2_content .content_wrapper .appr_way .appr_way_img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 1px 5px black;
}

/* 方式標題 */

.step2_wrapper .step2_content .content_wrapper .appr_way span {
    display: block;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
}

/* 文字 */

.step2_wrapper .step2_content .content_wrapper .appr_way p {
    padding: 20px;
    padding-top: 0;
    font-size: 18px;
    line-height: 2;
}

/* -------------------------------------------------------------- */

/* step 3 4 */

.step34_wrapper {
    position: relative;
    margin-bottom: 100px;
}

/* 內容區 */

.step34_wrapper .fea_content_wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* 元素 */

.step34_wrapper .fea_content_wrapper .fea_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* 下面元素 */

.step34_wrapper .fea_content_wrapper .fea_down {
    margin-top: -80px;
}

/* 文字區塊 */

.step34_wrapper .fea_content_wrapper .fea_item .step_text {
    width: 400px;
    margin: 0 auto;
}

/* 圖 */

.step34_wrapper .fea_content_wrapper .fea_item img {
    width: 49.25%;
    height: 384px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

@media (max-width: 1199.98px) {
    .step34_wrapper .fea_content_wrapper .fea_item:nth-child(1) img{
        border-radius: 0px 20px 20px 0px;
    }
    .step34_wrapper .fea_content_wrapper .fea_item:nth-child(2) img{
        border-radius: 20px 0px 0px 20px;
    }
}

/* 小標題 */

.step34_wrapper .fea_content_wrapper .fea_item .step_text h3 {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

/* 下面的小標題 */

.step34_wrapper .fea_content_wrapper .fea_down .step_text h3 {
    /* 114背景頂 */
    margin-top: 134px;
}

/* 文字 */

.step34_wrapper .fea_content_wrapper .fea_item .step_text p {
    font-size: 18px;
    margin-top: 30px;
    line-height: 2;
    text-align: center;
}

/* 背景色塊 */

.step34_wrapper .fea_text_bg {
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 250px;
    background-color: #D5B2A0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.step34_wrapper .bg_1 {
    right: 0;
    top: 0;
}

.step34_wrapper .bg_2 {
    left: 0;
    bottom: 0;
}