@import url(./common.css);
@import url(../vendors/carousel/swiper/swiper.css);
main {
    margin-top: 25px;
    overflow-x: hidden;
}

/* ---------------------------------------------- */

/* 輪播套件 */

.swiper {
    width: 100%;
    height: 480px;
    margin-bottom: 100px;
}

@media (max-width: 767.98px){
    .swiper {
        height: 360px;
    }
}

/* 輪播游標改手 */

.swiper:hover {
    cursor: pointer;
}

/* 套件給的 */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* 輪播的圖 */

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 左右按鈕 */

.swiper .swiper-button {
    position: absolute;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s;
}

/* 游標移入輪播 箭頭出現 */

.swiper:hover .swiper-button {
    opacity: 0.5;
}

/* 箭頭樣式 */

.swiper .swiper-button::after {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

/* 上一頁箭頭 */

.swiper .swiper-button-prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

/* 下一頁箭頭 */

.swiper .swiper-button-next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

/* 移入箭頭hover */

.swiper .swiper-button:hover {
    opacity: 1;
}

/* 下面的點 */

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, .8);
}

/* ---------------------------------------------- */

/* 主要產品區塊wrapper */

.product_wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

/* 區塊標題 */

.product_wrapper h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
}

/* 整個產品wrapper */

.product_wrapper .product_outer .product_ele {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

/* 商品連結 */

.product_wrapper .product_outer .product_ele a {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

/* 產品圖 */

.product_wrapper .product_outer .product_ele a img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* 產品圖遮色片 */

.product_wrapper .product_outer .product_ele a span {
    display: inline-block;
    color: rgba(255, 255, 255, .8);
    font-size: 28px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    line-height: 331px;
    font-weight: bold;
    position: absolute;
    left: 0;
}

/* 目前商品 */

.product_wrapper .cur_product {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
}

/* 目前商品連結 */

.product_wrapper .cur_product a {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* 目前商品圖 */
.product_wrapper .cur_product a img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: all 0.2s linear;
}

/* 圖片hover放大效果 */

.product_wrapper .product_outer .cur_product:hover a img {
    transform: scale(1.05);
}

/* 目前商品文字 */

.product_wrapper .product_outer .cur_product a span {
    display: inline-block;
    position: absolute;
    bottom: 0;
    color: rgba(255, 255, 255, .8);
    font-size: 28px;
    width: 100%;
    height: 20%;
    border-radius: 0 0 20px 20px;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    left: 0;
}

@media (min-width: 768px) {
    /* 黑色商品位置 */
    .product_wrapper .product_outer {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    /* 右側商品位置 */
    .product_wrapper .product_outer .right_pro {
        margin-left: calc(100% - 500px);
    }

    /* 商品間的橫線 */
    .left_pro::before {
        content: "";
        position: absolute;
        width: 75%;
        left: 12.5%;
        height: 10px;
        top: 150px;
        background-color: #D5B2A0;
        z-index: -1;
        box-shadow: 0px 1px 10px gray;
    }
    /* 商品間的左斜線 */
    .left_pro::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 10px;
        top: 300px;
        left: 0;
        z-index: -1;
        background-color: #D5B2A0;
        transform: rotate(45deg);
        box-shadow: 0px 1px 10px gray;
    }
    /* 商品間的右斜線 */
    .right_pro::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 10px;
        top: 300px;
        left: 50%;
        z-index: -1;
        background-color: #D5B2A0;
        transform: rotate(-45deg);
        box-shadow: 0px 1px 10px gray;
    }
    /* 箭頭 */
    .product_wrapper .arrow_wrapper {
        position: absolute;
        display: inline-block;
        width: 100px;
        height: 100px;
        bottom: 10%;
        background: black;
        text-align: center;
        border-radius: 50%;
        opacity: 0.7;
        transition: all .2s linear;
    }
    /* 箭頭hover */
    .product_wrapper .arrow_wrapper:hover {
        opacity: 1;
    }
    /* 左右箭頭位置 */
    .product_wrapper .arr_left {
        left: 10%;
        transform: rotate(45deg);
    }
    .product_wrapper .arr_right {
        right: 10%;
        transform: rotate(-45deg);
    }
    /* 箭頭樣式 */
    .product_wrapper .arrow_wrapper i {
        font-size: 48px;
        line-height: 100px;
        color: rgba(255, 255, 255, .8);
    }
}

/* 加左右padding */

@media (max-width: 1199.98px) {
    .product_wrapper {
        box-sizing: border-box;
        /* padding: 0 20px; */
    }
}

/* <=768 */

@media (max-width: 767.98px) {
    /* 商品容器 */
    .product_wrapper .product_outer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* 商品 */
    .product_wrapper .product_outer .product_ele {
        width: 200px;
        height: 240px;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow: hidden;
        margin: 0 10px;
        margin-bottom: 20px;
    }
    /* 商品圖 */
    .product_wrapper .product_outer .product_ele a img {
        transition: all 0.2s linear;
    }
    /* 商品圖hover */
    .product_wrapper .product_outer .product_ele:hover a img {
        transform: scale(1.05);
    }
    /* 商品圖文字 */
    .product_wrapper .product_outer .product_ele a span {
        font-size: 24px;
        height: 20%;
        line-height: 48px;
        bottom: 0;
        border-radius: 0 0 20px 20px;
        background-color: rgba(0, 0, 0, .7);
    }
    /* 目前商品 */
    .product_wrapper .cur_product {
        width: 200px;
        height: 240px;
    }
    /* 目前商品文字 */
    .product_wrapper .cur_product a span {
        font-size: 24px;
        line-height: 48px;
    }
    /* 箭頭消失 */
    .product_wrapper .arrow_wrapper {
        display: none;
    }
}

/* ---------------------------------------------- */

/* 滾動背景 */

.scroll_bg {
    width: 100%;
    height: 200px;
    margin: 100px 0;
    background-image: url(../imgs/scroll_bg.jpg);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {
    .scroll_bg {
        height: 300px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        box-shadow: 10px 10px 50px black inset;
    }
}

/* ---------------------------------------------- */

/* 特色 */

.feature_wrapper {
    margin-bottom: 100px;
    position: relative;
}

/* 內容區 */

.feature_wrapper .fea_content_wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* 特色標題 */

.feature_wrapper .fea_content_wrapper h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

/* 特色元素 */

.feature_wrapper .fea_content_wrapper .fea_item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
}

/* 特色圖 */

.feature_wrapper .fea_content_wrapper .fea_item img {
    width: 45%;
    /* height: 384px; */
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

/* 特色小標題 */

.feature_wrapper .fea_content_wrapper .fea_item h3 {
    width: 55%;
    font-size: 24px;
    text-align: center;
    margin: auto 0;
    font-weight: bold;
}

/* 文字 */

.feature_wrapper .fea_content_wrapper .fea_item h3 p {
    width: 100%;
    font-size: 18px;
    font-weight: normal;
}

/* 文字背景色設定 */

.feature_wrapper .fea_text_bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 30.54%;
    background-color: #D5B2A0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

/* 文字背景色塊位置1 */
.feature_wrapper .bg_1 {
    top: 130px;
}

/* 文字背景色塊位置2 */
.feature_wrapper .bg_2 {
    bottom: 67px;
}

/* 微調文字背景色塊 */
@media (min-width: 996px) and (max-width: 1199.98px) {
    .feature_wrapper .fea_content_wrapper .fea_item {
        padding: 0 20px;
        box-sizing: border-box;
    }
    .feature_wrapper .bg_1 {
        top: 110px;
    }
    .feature_wrapper .bg_2 {
        bottom: 47px;
    }
}

/* 微調文字背景色塊 */
@media (min-width: 768px) and (max-width: 995.98px) {
    .feature_wrapper .fea_content_wrapper .fea_item {}
    .feature_wrapper .bg_1 {
        top: 100px;
    }
    .feature_wrapper .bg_2 {
        bottom: 27px;
    }
}

@media (max-width: 767.98px) {
    /* 個別元素外層 */
    .feature_wrapper .fea_content_wrapper .fea_item {
        width: 100%;
        display: block;
        text-align: center;
    }
    /* 文字 */
    .feature_wrapper .fea_content_wrapper .fea_item h3 {
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
        border-radius: 20px;
        background-color: #D5B2A0;
    }
    /* 下面的元素 */
    .feature_wrapper .fea_content_wrapper .fea_item2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    /* 原本的背景色塊消失 */
    .feature_wrapper .fea_text_bg {
        display: none;
    }
}

/* 調整圖片文字大小 */
@media (min-width: 576px) and (max-width: 767.98px) {
    .feature_wrapper .fea_content_wrapper .fea_item img {
        width: 480px;
    }
    .feature_wrapper .fea_content_wrapper .fea_item h3 {
        width: 480px;
    }
}

/* 調整圖片文字大小 */
@media (min-width: 414px) and (max-width: 575.98px) {
    .feature_wrapper .fea_content_wrapper .fea_item img {
        width: 360px;
    }
    .feature_wrapper .fea_content_wrapper .fea_item h3 {
        width: 360px;
    }

    .feature_wrapper .fea_content_wrapper .fea_item h3 p{
        font-size: 14px;
    }
}

/* 調整圖片文字大小 */
@media (max-width: 413.98px) {
    .feature_wrapper .fea_content_wrapper .fea_item img {
        width: 300px;
    }
    .feature_wrapper .fea_content_wrapper .fea_item h3 {
        width: 300px;
    }

    .feature_wrapper .fea_content_wrapper .fea_item h3 p{
        font-size: 14px;
    }
}

/* ---------------------------------------------- */

/* 最新消息 */

.news_wrapper {
    width: 100%;
    background-color: #CBC1A9;
}

/* 內容區 */

.news_wrapper .news_content_wrapper {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

@media (max-width: 767.98px){
    .news_wrapper .news_content_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

/* 圖片wrapper */

.news_wrapper .news_content_wrapper .img_wrapper {
    margin: 50px 0;
    width: 41.6%;
    height: 300px;
    background-image: url(../imgs/news.png);
    background-position: center;
    border-radius: 20px;
    vertical-align: middle;
}

@media (max-width: 767.98px){
    .news_wrapper .news_content_wrapper .img_wrapper {
        margin: 0 auto;
        margin-top: 50px;
        height: 100%;
        background-image: none;
    }
}

/* 超連結按鈕 */

.news_wrapper .news_content_wrapper .img_wrapper a {
    margin: 0 auto;
    margin-top: calc(150px - 6.25%);
    display: block;
    text-decoration: none;
    color: black;
    font-size: 28px;
    background-color: #D5B2A0;
    text-align: center;
    height: 12.5%;
    padding-top: 1%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transition: transform .2s;
}

@media (min-width: 768px){
    /* 最新消息按鈕 */
    .news_wrapper .news_content_wrapper .img_wrapper a:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 767.98px){
    .news_wrapper .news_content_wrapper .img_wrapper a{
        display: block;
        width: 70%;
        margin-top: 0;
        background-color: transparent;
        box-shadow: none;
        pointer-events: none;
        font-size: 28px;
        white-space: nowrap;
        text-align: center;
    }

    .news_wrapper .news_content_wrapper .img_wrapper a i{
        display: none;
    }
}

/* 右邊訊息wrapper */

.news_wrapper .news_content_wrapper .news_ele_wrapper {
    position: relative;
    margin: 50px 0;
    width: calc(100% - 442.24px);
}

@media (max-width: 767.98px){
    .news_wrapper .news_content_wrapper .news_ele_wrapper {
        width: 70%;
        height: 300px;
    }
}

/* 各項消息 */

.news_wrapper .news_content_wrapper .news_ele_wrapper li {
    background-color: #EEECE1;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 10px;
    transition: opacity .5s;
}

@media (max-width: 767.98px){
    .news_wrapper .news_content_wrapper .news_ele_wrapper li{
        width: 100%;
    }
}

/* 消息元素hover */
.news_wrapper .news_content_wrapper .news_ele_wrapper li:hover {
    opacity: 0.7;
}

/* 消息超連結 */

.news_wrapper .news_content_wrapper .news_ele_wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
}

/* 消息文字 */

.news_wrapper .news_content_wrapper .news_ele_wrapper li a span {
    display: block;
    color: #000;
    font-size: 18px;

}

/* 文字日期 */

.news_wrapper .news_content_wrapper .news_ele_wrapper li a .news_date {
    background-color: rgb(194, 194, 194);
    height: 22px;
    line-height: 22px;
    width: 90px;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    font-size: 16px;
}

.news_wrapper .news_content_wrapper .news_ele_wrapper li a .news_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

/* read more */

.news_wrapper .news_content_wrapper .news_ele_wrapper>a {
    position: absolute;
    text-decoration: none;
    color: #C9211E;
    bottom: 0;
    right: 0;
}

@media (max-width: 767.98px){
    .news_wrapper .news_content_wrapper .news_ele_wrapper>a{

    }
}