@import url(./common.css);

body{
    /* overflow-y: hidden; */
}

main{
    margin-top: 25px;
}

/* ---------------------------------------------- */

/* banner */
.banner img{
    width: 100%;
    height: 480px;
    object-fit: cover;
    margin-bottom: 100px;
}
@media (max-width: 767.98px){
    .banner img {
        height: 360px;
    }
}

/* ---------------------------------------------- */

/* 整個商品區 */
.product_wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    /* position: relative; */
}

@media (max-width: 767.98px){
    .product_wrapper{
        box-sizing: border-box;
        padding: 0 10px;
    }
}

/* ---------------------------------------------- */

/* 左側選單 */

/* 左側選單wrapper */
.product_category_wrapper{
    width: 186px;
    margin-right: 80px;
}

@media (max-width: 767.98px){
    .product_category_wrapper{
        box-sizing: border-box;
        /* display: none; */
        padding: 0 10px;
        position: fixed;
        z-index: 3;
        background: #CBC1A9;
        /* top: 0; */
        left: -100%;
        margin: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;

        transition: left .4s;
    }

    .-wrapper-on{
        left: 0;
    }
}

.product_category_wrapper>i{
    display: none;
}

@media (max-width: 767.98px){
    .product_category_wrapper>i{
        display: block;
        font-size: 30px;
        height: 30px;
        width: 30px;
        margin: 0 0 0 auto;
    }

    .product_category_wrapper>i:hover{
        cursor: pointer;
    }
}

/* 商品分類標題 */
.product_category_wrapper>span{
    display: block;
    width: 100%;
    font-size: 20px;
    text-align: center;   
    margin-bottom: 20px;
}



/* 主要分類 */
.product_category_wrapper .main_category{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 15px;
}

/* 主要分類選項 */
.product_category_wrapper .main_category li{
    margin-bottom: 15px;
}

/* 主要分類選項點擊提示hover */
.product_category_wrapper .main_category li:hover{
    cursor: pointer;
    opacity: 0.7;
}

/* 篩選wrapper */
.product_category_wrapper .filter_wrapper{
    margin-top: 15px;
    border-bottom: 1px solid #000;
}

/* 篩選title */
.product_category_wrapper .filter_wrapper .filter_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product_category_wrapper .filter_wrapper .filter_title i{
    transition: transform .2s;
}
.product_category_wrapper .filter_wrapper .filter_title .-close{
    transform: rotate(180deg);
}

/* title點擊提示hover */
.product_category_wrapper .filter_wrapper .filter_title:hover{
    cursor: pointer;
}

/* 複選項 */
.product_category_wrapper .filter_wrapper form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;

}

/* 選項字hover */
.product_category_wrapper .filter_wrapper form label:hover span{
    opacity: 0.7;
}

/* ---------------------------------------------- */

/* 商品右側wrapper */
.product_content_wrapper{
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

/* 排序 */
.product_content_wrapper .sort_mode{
    padding-bottom: 10px;
    display: flex;
    margin-bottom: 14px;
    position: relative;
}

/* @media (max-width: 767.98px){
    .product_content_wrapper .sort_mode{
        visibility: hidden;
    }
} */

.product_content_wrapper .sort_mode i{
    margin-left: calc(120px - 64px - 21px);
    transition: transform .3s;
}

.product_content_wrapper .sort_mode .-i_on{
    transform: rotate(180deg);
}

/* 排序pointer */
.product_content_wrapper .sort_mode:hover{
    cursor: pointer;
}

.product_content_wrapper .sort_mode .sort_down{
    border: 1px solid #000;
    position: absolute;
    top: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 5px black;
    border: none;
    height: 0px;
    overflow: hidden;
    transition: height .3s;
    /* visibility: visible; */
}

.product_content_wrapper .sort_mode .-down_on{
    height: 120px;
}

.product_content_wrapper .sort_mode .sort_down button{
    border: none;
    height: 40px;
    font-size: 16px;
    transition: background-color .3s;
}

.product_content_wrapper .sort_mode .sort_down button:hover{
    cursor: pointer;
    background-color: #B47804;
}

.product_content_wrapper>.filter-btn{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    width: 100px;
    transition: background-color .3s;
}

@media (min-width: 768px){
    .product_content_wrapper>button{
        visibility: hidden;
    }
}

.product_content_wrapper>button:hover{
    background-color: #B47804;
    cursor: pointer;
}

.product_content_wrapper>button span{
    padding-right: 10px;
}

/* 商品 */
.product_content_wrapper .product_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 個別商品 */
.product_content_wrapper .product_content a{
    display: inline-block;
    width: calc( (100% - 60px) / 4);
    height: 319px;
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    transition: box-shadow .5s;
    overflow: hidden;
}
.product_content_wrapper .product_content a:hover{
    box-shadow: 0px 0px 10px black;
}

.product_content_wrapper .product_content a:nth-child(4n){
    margin-right: 0;
}

@media (min-width: 768px) and (max-width: 991.98px){
    .product_content_wrapper .product_content a{
        width: calc( (100% - 60px) / 3);
    }
    
    .product_content_wrapper .product_content a:nth-child(3n){
        margin-right: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .product_content_wrapper .product_content a{
        width: calc( (100% - 60px) / 2);
    }
    
    .product_content_wrapper .product_content a:nth-child(2n){
        margin-right: 0;
    }
}

@media (max-width: 576px){
    .product_content_wrapper .product_content a{
        width: 100%;
        margin: 0 auto;
    }
}

/* 商品圖 */
.product_content_wrapper .product_content a .pd_bg{
    width: 100%;
    height: 208.75px;
    background-color: white;
    margin-bottom: 15px;
    transition: opacity 0.2s linear;
}

@media (max-width: 576px){
    .product_content_wrapper .product_content a .pd_bg{
        background-color: transparent;
    }
}

/* 商品圖 */
.product_content_wrapper .product_content a .pd_bg img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/* 商品元素hover */
.product_content_wrapper .product_content a:hover .pd_bg{
    opacity: 0.8;
}

/* 修正圖片 */
.product_content_wrapper .product_content a .pd_bg .bg_modify{
    object-fit: contain;
}

/* 下方文字 */
.product_content_wrapper .product_content a .pd_text{
    width: 100%;
    font-size: 18px;
    color: black;
    text-align: center;
}

/* 下方文字 */
.product_content_wrapper .product_content a .pd_text span{
    display: block;
    margin-bottom: 10px;
}

/* ---------------------------------------------- */

