@import url(./common.css);

main{
    margin-top: 25px;
}

/* -------------------------------------------------------------- */

/* banner */
.banner img{
    width: 100%;
    height: 480px;
    object-fit: cover;
}

@media (max-width: 767.98px){
    .banner img {
        height: 360px;
    }
}

/* -------------------------------------------------------------- */

/* QA */
.qa_wrapper{
    box-sizing: border-box;
    max-width: 794px;
    width: 100%;
    margin: 100px auto;
    padding: 0 10px;
}

.qa_wrapper h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

.qa_wrapper .qa{
    width: 100%;
}

.qa_wrapper .qa .qa_item{
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    overflow: hidden;
}

.qa_wrapper .qa .qa_item:hover{
    cursor: pointer;
}


.qa_wrapper .qa .qa_item span{
    display: inline-block;
    font-size: 20px;
    padding: 15px 0;
}

.qa_wrapper .qa .qa_item .q_ordinal{
    margin-right: 10px;
    height: 100%;
    font-weight: bold;
}

.qa_wrapper .qa .qa_item .qa_text{
    display: inline-block;
}

.qa_wrapper .qa .qa_item .qa_text span:first-child{
    display: block;
    font-weight: bold;
    transition: color .4s;
}

.qa_wrapper .qa .qa_item:hover span:first-child{
    color: #B47804;
}

.qa_wrapper .qa .qa_item .qa_text .qa_content{
    font-size: 18px;
    display: none;
    transition: margin .4s;
}

.qa_wrapper .qa .qa_item .qa_text .-on{
    margin: 10px 0;
}